.hero-section {
  position: relative;

  .floating {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.left {
      left: 40px;
    }

    &.right {
      right: 40px;
    }

    .card {
      padding: 12px 16px;
      border-radius: 12px;
      font-size: 12px;
      font-weight: 600;
      width: fit-content;
      color: #111;
    }

    .orange {
      background: #f7b58d;
    }
    .blue {
      background: #9dd6f5;
    }
    .green {
      background: #c6f6d5;
    }
    .yellow {
      background: #fde68a;
    }
    .pink {
      background: #fbcfe8;
    }
    .purple {
      background: #ddd6fe;
    }
  }
  .floating.left {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;

    img {
      display: block;
    }

    img:nth-child(2) {
      margin-top: -50px;

    }
    img:nth-child(3) {
      margin-top: -100px;
      margin-left: 100px; 
      
      @media (max-width: 900px) {
        margin-left: 50px; 
      }
    }

    img:nth-child(5) {
      margin-top: -30px; /* overlaps image 3 */
    }
  }
  .floating.right {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;

    img {
      display: block;
    }

    img:nth-child(2) {
      margin-top: -70px;
      margin-left: -80px; /* overlaps previous */

     
    }
    img:nth-child(3) {
      margin-top: -40px;
    }

    img:nth-child(4) {
      margin-top: -50px;
      margin-left: -90px; /* overlaps previous */
    }

    img:nth-child(5) {
      margin-top: -40px;
      margin-left: -20px; /* overlaps previous */
    }
  }
  .hover{
    cursor: pointer;
    transition: transform 0.3s;
  }
}

/* Responsive */


@media (max-width: 768px) {
  .floating {
    display: none;
  }
  .floating.left {
    display: none !important;
  }
  .floating.right {
    display: none !important;
  }

}
